/* 
    Document   : yaquemotors
    Created on : Aug 27, 2011, 6:31:05 AM
    Author     : ariel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body
{
    /*background: url("/sites/default/files/images/common/pageBackground2.png") no-repeat;*/
}

root { 
    display: block;
}

*
{
    margin: 0;
    padding: 0;
}

#top-blue-bar
{
    background-color: #151C24;
    height: 6px;
}




/*pre-header */
#appointment-text,#global-search
{
    float: right;
}
#global-search
{
    border: 3px solid #e5e5e5;
    height: 23px;
}


#appointment-text
{
    color: #333333;
    display: block;
    font-weight: bold;
    height: 26px;
    margin-right: 50px;
    padding-top: 1px;
    position: relative;
    
    padding-left: 5px;
    
}
#search-icon
{
    float: right;
    
}

#search-icon
{
    left: 935px;
    position: absolute;
    top: 6px;
}
#pre-header
{
    position: relative;
}

#news-link
{
    border-right: 1px solid #999999;
    color: #333333;
    float: right;    
    font-weight: bold;
    height: 16px;
    
    margin-right: 3px;
    margin-top: 1px;
    padding-bottom: 4px;
    padding-right: 8px;
}

#news-link img
{
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#top-calendar
{
  
    position: absolute;
    top: 1px;
    right: -33px;
        
}
/*pre-header ENDS*/


/*warranty-link*/
#warranty-link
{
    clear: both;
    display: block;
    margin-top: 15px;
}

/*warranty ENDS*/


/*Vehicle Agency*/

#vehicles-agency-left-side
{
    float: left;
    margin-right: 20px;
    font-weight: bold;
    
}

#vehicles-agency
{}


.vehicle-search-result
{
    background-image: url("/sites/default/files/images/vehiclesAgency/resultVehicleBackground.png");
    float: left;
    height: 233px;
    margin: 10px 20px;
    padding: 10px;
    width: 267px;
    color: #333333;
    
}


#vehicles-agency-search-results
{
    float: left;
    width: 690px;
}



#vehicles-agency-search-results-title
{
        background-image: url("/sites/default/files/images/vehiclesAgency/resultsHeader.png");
        height: 63px;
        padding-left: 19px;
        padding-top: 34px;
        width: 418px;
        position: relative;
        text-transform: uppercase;
        
}

.company-vehicles-title
{
    font-size: 1.6em;
}

#vehicles-agency-search-results-title.all-brands
{
            background-image: url("/sites/default/files/images/vehiclesAgency/allVehicles.png");
            width: 610px;
}


.vehicle-search-result-brand
{
    font-size: 1em;
    
    margin-bottom: 0;
    margin-right: 10px;
    text-transform: capitalize;
    font-weight: bolder;
        
}

#vehicles-agency-search-results-title-brand-logo

{
    

    display: block;
    height: 57px;
    position: absolute;
    right: 9px;
    top:17px;    
    width: 81px;
    
    
}

#vehicles-agency-search-results-title-brand-logo.chevrolet
{
    background-position: 92px -5px;
}

#vehicles-agency-search-results-title-brand-logo.nissan
{
    background-position: 176px -5px;
}

#vehicles-agency-search-results-title-brand-logo.suzuki
{
     background-position: 6px -5px;
}




.vehicle-search-result-model
{
    font-size: 1.4em;    
    font-weight: bold;
    text-transform: capitalize;
}

.vehicle-search-result-model span
{
    font-weight: normal;
}

.vehicles-agency-left-menu-text-link
{
    display: block;    
    height: 31px;
    padding-top: 5px;
    width: 127px;
}
#vehicles-agency-left-menu ul
{
    list-style: none;
    padding:  0;
}

#vehicles-agency-left-menu ul li a
{
    float: left;
    color: #333333;
    display: block;
    width: 218px;
    
}
#vehicles-agency-left-menu ul li
{
    clear: both;
    height: 30px;
    width: 216px;
    border: 2px solid #cdcdcd;
}

#vehicles-agency-camion-icon span
{
    background-position: -80px 0;
}
#vehicles-agency-camioneta-icon span
{
    background-position: -160px 0;
}

#vehicles-agency-jeepeta-icon span

{
    background-position: -240px 0;
}
#vehicles-agency-brands-header
{
    margin: 0;
    font-size: 1.2em;
    
}


.vehicle-search-result-photo
{
    width: 269px;
    height: 172px;
}

#vehicles-agency-selected-brand
{
    background-image: url("/sites/default/files/images/vehiclesAgency/selectedBrand.png");
    width: 64px;
    height: 54px;
}

#vehicles-agency-mini-icon span
{
    background-position: -320px 0;
    
}
#vehicles-agency-nissan-button, #vehicles-agency-suzuki-button, #vehicles-agency-chevrolet-button
{
    background-image: url("/sites/default/files/images/vehiclesAgency/unselectedBrands.png");
    display: block;
    float: left;
    margin: 0 3px;
        width: 68px;
    height: 60px;
    
}

#vehicles-agency-nissan-button
{

    background-position: -12px -9px;
}

#vehicles-agency-nissan-button.selected-brand
{
   background-image: url("/sites/default/files/images/vehiclesAgency/selectedBrands.png"); 
}

#vehicles-agency-suzuki-button
{
    background-position: 150px -9px;
}

#vehicles-agency-suzuki-button.selected-brand
{
    background-image: url("/sites/default/files/images/vehiclesAgency/selectedBrands.png"); 
}

#vehicles-agency-chevrolet-button
{
    background-position: 80px -9px;
}

#vehicles-agency-chevrolet-button.selected-brand
{
    background-image: url("/sites/default/files/images/vehiclesAgency/selectedBrands.png"); 
}



#vehicles-all-categories
{
    
    width: 201px;
    height: 34px;
    color:#333333;
        padding-left: 17px;
    padding-top: 8px;
}

#vehicles-agency-left-menu h3
{
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-top: 10px;
}

#vehicles-agency-left-menu
{
    background-image: url("/sites/default/files/images/vehiclesAgency/leftMenuBackground.png");
    padding-left: 10px;
    width: 231px;
    height: 352px;
    
}

.vehicles-agency-icon
{
    background-image: url("/sites/default/files/images/vehiclesAgency/vehiclesIconsSprite.png");
    display: block;
    float: left;
    height: 30px;
    width: 80px;
    border: 2px solid #cdcdcd;
    margin-right: 5px;
        
}

#vehicles-agency-offers
{
    
    
    
    
    margin: 10px 0;
    
        display: block;
     background-image: url('/sites/default/files/images/common/appointmentOffersSprite.png');
     background-position: 0 128px;
    height: 124px;
      width: 233px;
    
}

#vehicles-agency-parts
{
    display: block;
    width: 235px;
    height: 87px;
    margin: 10px 0;
    background-image: url('/sites/default/files/images/vehiclesAgency/parts.png');
}



#vehicles-agency-all-brands
{
    
    background-color: white;
    color: #333333;
    display: block;
    font-weight: bold;
    height: 25px;
    padding-top: 5px;    
    text-align: center;
    width: 241px;
    
}

/*Vehicle Agency ENDS*/





/*Warranty*/

#warranty-header
{
    background-image: url("/sites/default/files/images/common/bigRedCornerButton.png");
    font-size: 1.4em;    
    height: 38px;
    padding-left: 8px;
    padding-top: 7px;
    position: relative;
    width: 483px;    
    
    
}

#warranty-header p 
{
    margin: 0 10px;
}

#warranty a img{
    margin: 0 5px;
}
#warranty a
{
    color: #333333;
}
#warranty ul
{
    margin-bottom: 10px;
}

#warranty-nissan-logo
{
    background-position: 174px 0;
}

#warranty-chevrolet-logo
{
    background-position: 91px 0;
}

#warranty-header img
{
    position: absolute;
    right: 9px;
    top: 5px;
}



/*Warranty ENDS*/


/*vehicle-cotizar-overlay*/

#vehicle-cotizar-overlay-header
{
    background-image: url("/sites/default/files/images/maintenanceForm/formHeader.gif");
    width: 783px;
    height: 96px;
    margin: 0;
    padding: 0;
}


#vehicle-cotizar-overlay #vehicle-cotizar-overlay-form label, #vehicle-cotizar-overlay #vehicle-cotizar-overlay-form input
{
    display: block;
    clear: both;
    margin-bottom: 5px;
}

#vehicle-cotizar-overlay #vehicle-cotizar-overlay-form label
{
    font-size: 1.2em;
    
    width: 180px;
}

#vehicle-cotizar-overlay #vehicle-cotizar-overlay-form input
{
    width: 256px;
}

#overlay-title
{
    text-transform: capitalize;
    font-weight: bold;
}


#overlay-photo
{
    display: block;
    width: 406px;
    height: 283px;
}
#overlay-car-info, #vehicle-cotizar-overlay form
{
    float: left;
}

#vehicle-contizar-overlay-description-title
{
    
    height: auto;
    margin-top: 20px;
    width: 407px;
    
}
#vehicle-cotizar-overlay-content
{
    background-image: url("/sites/default/files/images/maintenanceForm/overlayBackground.png");
    height: 635px;
      padding: 20px 20px 0 20px;
      
}

#overlay-car-info ul
{
    list-style: none;
    padding: 0;
    width: 407px;
}
#overlay-car-info
{
    margin-left: 28px;
}
#vehicle-cotizar-overlay-form-container
{
      float: left;
      margin-right: 28px;
}

#vehiculo-cotizar-overlay-form-send-button
{
   background-color: white;
    border: 1px solid #BFBFBF;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: block;
    height: 29px;
    margin-top: 15px;
    padding: 3px;
    text-align: center;
    width: 70px;
}

#vehiculo-cotizar-overlay-form-send-button span
{
        background-color: #EFF3F5;
    display: block;
    font-size: 1.2em;
    height: 23px;
    padding: 3px;
}

/*vehicle-cotizar-overlay ENDS*/


/*basic form*/


#contacts-form form input, #vehicle-cotizar-overlay form input
{
  border: 5px solid #d8d8d8;
  width: 281px;
  height: 30px;
}


#contacts-form form input, #contacts-form form textarea,
#vehicle-cotizar-overlay form input, #vehicle-cotizar-overlay form textarea

{
    border: 5px solid #d8d8d8;
    margin-bottom: 10px;
  width: 281px;
 
}
#contacts-form form textarea,
#vehicle-cotizar-overlay form textarea
{
    height: 157px;
    margin-bottom: 20px;
}

#contacts-form form label,
#vehicle-cotizar-overlay form label
{
   display: block;
   float: left;
   font-size: 1.5em;   
   width: 100px;
  
}

#vehicle-cotizar-overlay form
{
    width: auto;
}

#contacts-form form
{
    width: 405px;
}





/*basic form ENDS*/

/*header*/
#header
{
    width: 935px;
    height: 85px;
    padding: 15px 10px 0 15px;
    background-image: url("/sites/default/files/images/common/headerGradient.jpg");
    border-bottom: 6px solid #9a9999;
}

#logo
{
    display: block;
    float: left;
    
}
#menu
{
    float: right;
    padding-top: 55px;
}


li a.active
{
    border-bottom: 3px solid #ce0000;
    color: #333333;
}

#primary li a
{
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px;
}

#menu #nice-menu-1 li a
{
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px;
    padding: 0;
}
#menu #nice-menu-1 li
{
    border:none;
    background: none;
}


/*header ENDS*/

/*Authorized Distributor*/

#authorized-distributor
{
    margin-top: 20px;
    float: left;
}

/*Authorized Distributor ENDS*/






/*Contactos Info*/

#contacts-info
{
    float: left;
}
#contacts-info a.contacts-redcorenered-button
{
    background-image: url("/sites/default/files/images/common/redCornerButton.png");
    display: block;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 266px;
    position: relative;
    padding: 8px 0;
    color: #333333;
    
    
}

.contacts-slider-employee-info
{
    margin: 7px 0;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
}
ul.contacts-slider-title
{
  list-style: none;  
}
#contacts-info ul
{
    padding: 0 0 0 15px;
    
}

#contacts-info-offer
{
    margin-top: 25px;
}
#contacts-info a.contacts-redcorenered-button img
{
    left: 240px;
    position: absolute;
    top: 5px;
    
}

#contacts-info h4
{
    margin:0;
}

.contacts-slider-menu
{
    list-style: none;
}
/*Contactos Info ENDS*/






/*Slideshow*/
.slideshow-big-slide
{
    width: 438px;
    height: 192px;
}
#slideshow-pager
{
    margin-bottom: 45px;
}
.slideshow-pager-picture
{
    width: 61px;
    height: 47px;
    margin: 5px 5px 0 0;
}
/*Slideshow ENDS*/



/*Family Tradition*/

#family-tradition
{
    clear: both;
}
#family-tradition-header
{
    margin-left: 20px;
}

#family-tradition a
{
    display: block;
    background-image: url('/sites/default/files/images/common/redCornerButton.png');
    height: 28px;
    padding: 9px 13px;
    width: 240px;
    color: #333333;
    font-weight: bold;
}


#family-tradition-secondary-employees-container
{
    text-align: center;
}

 #family-tradition-director {
    
    display: block;
    float: left;
    
}


#family-tradition-director,#family-tradition-directors-message, .family-tradition-secondary-employees
{
    float: left;
}

.quote-sign
{
    display: block;
}
#family-tradition-directors-message
{
    
    padding: 0 25px;
    width: 470px;
    
}

#family-tradition-directors-message h3
{
    margin: 0;
}


#family-tradition-directors-sign
{
    
}

#family-tradition-employees
{
    height: 280px;
    padding: 0 20px;
    
}
.family-tradition-secondary-employees
{
    height: 179px;
    width: 272px;
    float: none;    
    
}

#final-quote
{
    float: right;
}
/*Family Tradition ENDS*/



/*historic-review*/

#historic-review
{
    width: 460px;
    float: left;
    padding-left: 20px;
}
#historic-review p 
{
    margin-bottom: 20px;
    width: 445px;
}


/*historic-review ENDS*/





/*Available Finanacing*/

#available-financing p
{
    margin-bottom: 40px;
}

#available-financing img
{
    display: block;
    margin: 15px 0;
}


/*Available Finanacing ENDS*/

/*Footer*/
#footer
{
    height: 168px;
    background-image: url('/sites/default/files/images/theme/footer/footerGradient.png');
    padding: 15px;
    color: #cccccc;
    position: relative;
    margin-top: 20px;
}

#makers-logo
{
    clear: both;
    display: block;
    float: right;
    
}

#footer-logo
{
    display: block;
    padding: 20px 0;
    margin-right: 25px;
    
    
}

.footer-menu
{
    padding: 10px 30px;
    list-style: none;
    font-weight: bold;
}

.footer-menu li a 
{
    color: #cccccc;
}

.footer-menu, .footer-divisor, #footer-logo
{
    float: left;
}

#footer-address
{
    text-align: right;
    float: right;
}

#footer-contactos-header, .footer-spaced-paragraph
{
    margin-bottom: 5px;
}


#footer-copyright
{
    position: absolute;
    top: 160px;
}

/*Footer ENDS*/

/*FrontPageSlider*/

#front-page-slideshow
{
    
}

#front-page-slideshow-pager
{
    position: absolute;
    top: 20px;
    right: 20px;
}
#front-page-slideshow-pager span
{
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
     background-image: url('/sites/default/files/images/frontPageSlideshow/unselectedPager.png');
    
}


#front-page-slideshow-pager span.activeSlide
{
     background-image: url('/sites/default/files/images/frontPageSlideshow/selectedPager.png');
}

.front-page-slides
{
    width: 960px;
    height: 540px;
}

#front-page-slideshow-container
{
    position: relative;
}

#front-page-slideshow-pager , #front-page-slideshow-view-more
{
    position: absolute;
    z-index: 1000;
}

#front-page-bottom-text
{
    left: 50%;
    position: absolute;
    top: 460px;
    z-index: 1000;
}

#front-page-divisor
{
    position: absolute;
    top: 392px;
    z-index: 1000;
}
#front-page-slideshow-view-more
{
    top:313px;
    left: 40px;
}


#front-page-slideshow-next-previous
{
    right: 0;
    top: 0;
}

/*FrontPageSlider ENDS*/

/*make-appointment*/
#make-appointment-link
{
    position: absolute;
    z-index: 2000;
    right: 6px;
    top: 371px;
}

#make-appointment-text-container p
{
    clear: both;
    height: 20px;
}

#make-appointment-text-container
{
    float: left;
    margin-left: 58px;
    margin-right: 58px;
    width: 362px;
    
}



#make-appointment p span, #make-appointment p input 
{
    display: block;
    float: left;
}

#make-appointment p span
{
    width: 200px;
}

#make-appointment-right-menu-appointment
{
    
   
    height: 86px;
    margin-bottom: 20px;
}

#make-appointment-right-menu
{
    background-image: url('/sites/default/files/images/makeAppointment/appointmentBenefits.png');
    float: left;
    font-size: 1.1em;
    height: 322px;   
    margin-left: 58px;
    margin-right: 58px;    
    padding-top: 70px;
    width: 315px;
    
    
}

#make-appointment-right-menu ul{
    padding: 0 0 0 25px;
}
#make-appointment-right-menu ul li
{
    
    margin-bottom: 10px;
    list-style: disc;
}

#make-appointment span#appointment-hour-text
{
    width: auto;
    margin: 0 10px;
}



#make-appointment-left-menu-offers
{
   
    background-position: 0 128px;
    height: 124px;
}

#appointment-service
{
    
    clear: both;
    display: block;
    height: 200px;
    margin-bottom: 20px;
    width: 345px;
    
}

#make-appointment-send-button, #make-appointment-clean-button
{
    float: right;
}

#make-appointment-send-button
{
    margin-left: 30px;
}
/*make-appointment ENDS*/



/*last-vehicles*/
#last-vehicles-link
{
    left: 12px;
    position: absolute;      
    top: 371px;
    z-index: 2000;
}

/*last-vehicles ENDS*/


/*Work Shop Services Link*/
#workshop-services-link
{
    float: left;
    margin: 0 27px 0 15px;
}

#workshop-services-link img
{
    height: 178px;
    width: 280px;
}
#workshop-services-link p
{
    width: 288px;
}
#workshop-services-link a
{
    display: block;
}
/*Work Shop Services Link ENDS*/

/*Work Shop Services Menu*/

#workshop-services-menu {
  margin-bottom: 400px;
    margin-right: 46px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 560px;
    
}
    
#workshop-services-menu p
{
    
    font-family: ratio, purista-web;
    margin-bottom: 40px;
}
#workshop-services-menu-header
{
    background-image: url('/sites/default/files/images/common/redCornerButton.png');
    font-size: 1.4em;
    height: 46px;
    padding-left: 10px;
    width: 256px;
}



.workshop-services-menu-item {
    float: left;
    height: 35px;
    width: 250px;
    
}


#workshop-services-menu-header img
{
    position: relative;
    top: 6px;
    left: 45px;
}
.workshop-services-menu-item-text, .workshop-services-menu-item-icon
{
    display: block;
    float: right;
    font-weight: bold;
   
}

.workshop-services-menu-item {
    height: 35px;
}


#workshop-services-menu-item-diagnostico  .workshop-services-menu-item-icon
{
  background-position: 170px 0px;
}

#workshop-services-menu-item-reparacion  .workshop-services-menu-item-icon
{
    background-position: 68px 0;
}

#workshop-services-menu-item-desabolladura  .workshop-services-menu-item-icon
{
    background-position: 136px 0;
}

#workshop-services-menu-item-aire  .workshop-services-menu-item-icon
{
   background-position: 102px 0;
 
}
#workshop-services-menu-item-todas  .workshop-services-menu-item-icon
{
    background-position: 34px 0;
}




#workshop-services-menu ul
{
    height: 134px;
    list-style: none;
    padding: 0;
    
    
}

.workshop-services-menu-item-icon
{
    
   background-image: url("/sites/default/files/images/workshopServicesMenu/workshopMenuIconsSprite.png");
    height: 34px;
    margin-left: 10px;
    width: 34px;
    
}



/*Work Shop Services Menu ENDS*/

/*offer-teaser*/
.offer-teaser a
{
    display: block;
    text-align: center;    
}

.offer-teaser h3
{
    color: #333333;
    margin: 10px 0;
}


.offer-teaser-flyer
{
    display: none;
  
}



/*offer-teaser ENDS*/
/*Work Shop Services Slideshow*/
#workshop-services-slideshow-container {
 background-color: #D7D7D7;
    border-radius: 12px 12px 12px 12px;
    display: block;
    height: 300px;
    margin: 10px 67px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    position: absolute;
    top: 652px;
    width: 800px;
}
.workshop-sevices-slide-bottom-text
{
    float: right;
    font-weight: bold;
        
}
#workshop-services-slideshow-header
{
     display: block;
    left: 213px;
    position: absolute;
    top: -9px;
}
#workshop-sevices-slideshow-pager span.activeSlide
{
    background-image: url("/sites/default/files/images/workshopServicesSlideshow/selectedNumbers.png");
}

#workshop-sevices-slideshow-pager
{
     height: 30px;
    margin-bottom: 25px;
    padding-left: 235px;
}


.workshop-sevices-slideshow-number
{
      background-image: url("/sites/default/files/images/workshopServicesSlideshow/unselectedNumbers.png");
    display: block;
    float: left;
    height: 29px;
    margin: 0 9px;
    width: 31px;
}

#workshop-sevices-slideshow-pager span.activeSlide
{
    background-image: url("/sites/default/files/images/workshopServicesSlideshow/selectedNumbers.png");
}


/*Work Shop Services Slideshow ENDS*/



/*workshop-services-form*/
#workshop-services-form-container 
{
    float: left;
    margin-left: 10px;
}

#workshop-services-form-container a{
    color : black;
}

#workshop-services-form
{
    
}

#workshop-services-form label, workshop-services-form select {
    margin: 5px 0;
}

#workshop-services-form-find
{
     background-color: #EFF3F5;
    border: 2px solid #797979;
    display: block;
    height: 20px;
    margin: 10px 0;
    padding: 2px;
    text-align: center;
    width: 76px;
    float: right;
}

#workshop-services-form-header, #workshop-services-view-all
{
    background-image: url('/sites/default/files/images/common/grayButton.png');
    
    display: block;
}

#workshop-services-form-header
{
    font-size: 1.4em;
    height: 33px;
    padding: 6px;
    text-align: center;
    width: 278px;
}
   
#workshop-services-form select
{
    width: 285px;
    height: 35px;
    border: 5px solid #d8d8d8;
}
   
    
    
#workshop-services-warranty-campaign-link
{
    
}
#workshop-services-view-all
{
      font-weight: bold;
    height: 31px;
    margin-bottom: 20px;
    padding: 7px;
    text-align: center; 
    clear: both;
}


#workshop-services-form label, #workshop-services-form select
{
    display: block;
}

.big-horizontal-divisor
{
    float: left;
}

/*workshop-services-form ENDS*/


/* mision-vision*/
#mision-vision
{
    font-size: 1.2em;
    width: 475px;
    height: 198px;
}
#mision-vision-original, #mision-vision-valores
{
    background-image: url('/sites/default/files/images/misionVision/misionVision.png');
    display: block;
    float: left;
    
}
#mision-vision-original-mision
{
       display: block;
    line-height: 12px;
    margin-bottom: 35px;
}

#mision-vision-original-vision
{
    
       display: block;
    line-height: 14px;
    margin-bottom: 33px;
}

#mision-vision-original
{
    font-size: 0.9em;
    height: 142px;
    padding: 50px 25px 0 19px;
    width: 246px;
}

#mision-vision-valores
{
     background-position: 183px 0;
    height: 140px;
    list-style: none outside none;
    margin: 0;
    padding: 57px 0 0 24px;
    width: 159px;
}

/* mision-vision ENDS*/

/*Vehicles for the Company*/

#vehicles-for-the-company
{
    float: left;
    margin: 0 14px;
}
#vehicles-for-the-company p
{
    width: 288px;
    display: block;
    
}
/*Vehicles for the Company ENDS*/

/*noticas news*/
#noticias-news-title
{
    margin-bottom: 0;
    
}
#noticias-news-photo
{
    float: left;
    margin-right: 20px;
}

/*noticas news ENDS*/


/*noticas-header*/

#noticias-header
{
       background-image: url("/sites/default/files/images/common/redCornerButtonWithArrow.png");
    font-weight: bold;
    height: 42px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 12px;
    width: 207px;
}
/*noticas-header ENDS*/

/*news-teaser*/

.news-teaser-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.4em;
}
.news-teaser {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    padding-left: 20px;
}

#news-teaser-text
{
    font-family: ratio, purista-web;
}

.last .news-teaser
{
    border: none;
}
.news-teaser-view-more {
    background-color: #da0000;
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    height: 21px;
    padding: 0 1px;
}


/*news-teaser ENDS*/

/*Front  News*/
#news-background
{
    background-image: url('/sites/default/files/images/news/news.png');
    float: left;
    height: 54px;
    left: 545px;
    padding-top: 30px;
    position: absolute;
    top:786px;        
    width: 413px;
}
#news-container
{
    
    height: 49px;
    left: 48px;
    position: relative;
    
    width: 354px;
    
}
.front-page-news-teaser
{
    color: black;
    text-decoration: none;
}

.news
{
    
}
/*Front  News ENDS*/

/*post-sell*/
#post-sell
{
    height: 500px;
    
    margin-top: 40px;
    padding: 0 40px;
}
#post-sell .post-sell-divisor{
    float: left;
}

#post-sell-workshop-parts-store,#post-sell-workshop-services
{
    float: left;
     width: 408px;
}


#post-sell-workshop-services-divisor
{
    margin-right: 45px;
}

#post-sell-introduction
{
    margin-bottom: 20px;
}
#post-sell-workshop-parts-store-photo
{
    
    
     background-image: url('/sites/default/files/images/postSell/sprite.png');
    background-position: 419px -9px;
    display: block;
    height: 292px;
    width: 420px;
     
}

#post-sell-workshop-parts-store-title
{
      background-image: url('/sites/default/files/images/common/mediumRedCornerButton.png');
    color: #333333;
      display: block;     
      font-size: 1.5em;
      height: 33px;
      padding-left: 20px;
      padding-top: 4px;
      width: 388px;
      position: relative;
}

#post-sell-workshop-services
{
    margin-right: 60px;
    width: 408px;
    
}

#post-sell-workshop-services-photo
{
    background-image: url('/sites/default/files/images/postSell/sprite.png');
    background-position: -10px -9px;
    display: block;
    height: 292px;
    width: 420px;
  
}

.post-sell-white-arrow
{
    position: absolute;
    right: 3px;
    top: 1px;
}

#post-sell-workshop-services-title
{
    background-image: url('/sites/default/files/images/common/mediumRedCornerButton.png');
    color: #333333;
      display: block;     
      font-size: 1.5em;
      height: 33px;
      padding-left: 20px;
      padding-top: 4px;
      width: 388px;
      position: relative;
}
/*post-sell ENDS*/


/*maintanance-prices*/

.maintenance-prices td, .maintenance-prices th {
    border: 1px solid #d3d3d3;
}

.maintenance-prices, .maintanance-prices th, .maintanance-prices td
{
    
}
.maintenance-prices th
{
    background-color: #d9d9d9;
    
}

#contenido-del-mantenimiento
{
    padding-left: 40px;
}

.maintenance-prices .category-header
{
    height: 40px;
    font-weight: bold;
    
    font-size: 1.4em;
    
}
.maintenance-prices .vertical-td
{
    
    background-color: #cdcdcd;
    padding: 0;
    margin: 0;     
    vertical-align: middle;
}

.maintenance-prices #cambio-vertical
{
    background: url('/sites/default/files/images/maintenance-prices/remplazoVertical.png') no-repeat scroll 10px center transparent;
}

.maintenance-prices #inspeccion-vertical
{
    background: url('/sites/default/files/images/maintenance-prices/inspeccionVertical.png') no-repeat scroll 10px center transparent;
    display: block;
    height: 175px;
    vertical-align: middle;
}
 #maintenance-model-title
{
    background: url('/sites/default/files/images/maintenance-prices/modelosVertical.png') no-repeat scroll 10px center transparent;
    display: block;
    height: 236px;
    margin:0;
    padding:0;
    vertical-align: middle;
    width: 23px;
    
    
    
}

.maintenance-table-selected-vehicle
{
    background-image: url("/sites/default/files/images/theme/footer/footerGradient.png"); 
    color: white;
}

#maintenance-table-last-row
{
    background-color: #d9d9d9;
    font-weight: bold;
}
.maintenance-table-vehicle-price, .maintenance-table-contenido-mantenimiento-cell
{
    text-align: center;
}

.maintenance-table-contenido-mantenimiento-cell
{
    border-bottom: 1px solid #d3d3d3;
}

.first-column,
.first-column.maintenance-table-contenido-mantenimiento-cell
{
    text-align: left;
    padding-left: 10px;
    
}
.maintenance-table-vehicle-info
{
    border-bottom: 1px solid #d3d3d3;
}



#maintenance-bottom-banner
{
    background: url('/sites/default/files/images/maintenance-prices/backgroundSprite.gif') ;
    background-position: 0 99px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;    
    height: 96px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 3px;
    text-transform: uppercase;
    width: 923px;
}

#maintenanace-header
{
    background: url('/sites/default/files/images/maintenance-prices/backgroundSprite.gif') ;
    font-size: 0.9em;
    font-weight: bold;    
    height: 36px;
    padding-left: 10px;
    padding-top: 19px;
    text-transform: uppercase;
    width: 923px;
    
    
}

.maintenance-prices .model-name
{
    
}

/*maintanance-prices ENDS*/


/*mintenance-finder*/

#maintenance-finder.taller-de-servicios
{
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 86px;
    width: 277px;
}

#maintenance-finder
{
     background-image: url('/sites/default/files/images/maintenanceFinder/maintenanceFinderBackground.gif');
     border-radius: 0 23px 15px 15px;
     color: white;
     float: left;
     font-weight: bold;
     height: 204px;
     margin-left: 27px;
     margin-right: 15px;
     padding-left: 15px;
     padding-top: 15px;
     width: 256px;
}
#maintenance-finder.taller-de-mantenimiento
{
    margin-top: 20px;
}

#maintenance-finder h2{
    font-size: 2em;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 20px;
}


#maintenance-finder h2 span
{
    font-size: 0.7em;
    font-weight: normal;
    
}
#maintenance-finder label, #maintenance-finder select
{
    float: left;
   
}

#maintenance-finder label
{
    clear: left;
    width: 70px;
    
}

#maintenance-finder select
{
    width: 140px;
    margin-bottom: 15px;
}

#maintenance-finder-find-button
{
    background-color: #eff3f5;
    border: 2px white solid;
    border-radius: 5px;
    clear: both;
    color: #344959;
    display: block;
    height: 24px;
    margin-left: 142px;
    padding-top: 4px;
    width: 76px;
    text-align: center;
    width: 76px;        
}




#maintenance-finder-find-button span
{
    
}




/*mintenance-finder ENDS*/


/*make-appointment*/

#make-appointment
{
    padding: 0 20px;
}

/*make-appointment ENDS*/

/*Vehicle*/
#vehicle-available-photos-title
{
    display: block;
    margin: 10px 0;
}

#vehicle-info-container .big-horizontal-divisor
{
    float: left;
}
#vehicle-upper-menu h2
{
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 125px;
    position: relative;
    top: 12px;
       
        
}

.vehicle-upper-menu-item
{
     background-image: url('/sites/default/files/images/vehicle/vehicleUpperMenu.png');
     display: block;
     float: left;
    width: 181px;
    height: 45px;
    
}

#vehicle-slideshow-pager
{
    width: 408px;
}

#vehicle-slideshow-container
{
    float: left;
    margin-right: 10px;
}

#vehicle-colors h3
{
    margin:0;
}

.vehicle-color-sample
{
    border-radius: 5px;
    display: block;
    width: 31px;
    height: 16px;
    float: left;
    margin: 0 5px;
    
}
#vehicle-slideshow
{
    clear: both;
}

#vehicle-upper-menu
{
    height: 50px;
    margin-bottom: 10px;
}

#vehicle-description-top
{
    border-bottom: 2px dotted #a9a9a9;
    height: 50px;
}


.financing-post-sell-buttons
{
    display: block;
    background-image: url('/sites/default/files/images/vehicle/financingPostSellSprite.png');
    height: 67px;
    width: 363px;
    float: left;
    margin-top: 20px;
}

#vehicle-financing
{
    margin-right: 15px;
    clear: left;
}

#vehicle-post-sell
{
    background-position: 362px 0;
}

#vehicle-description
{
    padding-left: 5px;
    float: left;
    margin-left: 16px;
    width: 510px;
}

#vehicle-description-bottom ul
{
    
    list-style: none;
    padding: 0;
}

#vehicle-available-description-title
{
    
}

#vehicle-description-bottom ul li
{
    margin: 8px 0;
}
#vehicle-upper-menu-cotizar
{
    width: 176px;
}

#vehicle-description-top div
{
    float: left;
    margin-right: 10px;
}

#vehicle-description-top h3, #vehicle-description-top p
{
    margin: 0;
    text-transform: capitalize;
}

#vehicle-upper-menu-contactar
{
    background-position: 181px 0px;
}

#vehicle-upper-menu-imprimir
{
    background-position: 364px 0px;
}


.vehicle-slideshow-big-slide
{
    display: block;
    width: 406px;
    height: 283px;
}

.vehicle-slideshow-pager-item
{
    height: 54px;
    margin-right: 22px;
    width: 77px;
    
}

/*Vehicle ENDS*/

/*Parts Store*/
.parts-store-left-menu-button
{
    display: block;
     background-image: url('/sites/default/files/images/common/appointmentOffersSprite.png');
     
      width: 233px;
}


#parts-store-left-menu-appointment
{
    
   
    height: 86px;
    margin-bottom: 20px;
}
#parts-store-left-menu-offers
{
   
    background-position: 0 128px;
    height: 124px;
}

#parts-store-left-menu, #parts-store-form, #parts-store-text-container
{
    float: left;
}

#parts-store-text
{
    margin-bottom: 25px;
    font-family: ratio, purista-web;
}

#parts-store-text-container
{
    margin-left: 18px;
    width: 700px;
        
}

#parts-store-user-info
{
    height: 140px;
}

#parts-store-form input, #parts-store-form textarea
{
    border: 3px solid #d8d8d8;
}



#parts-store-part-info input, #parts-store-part-info input, #parts-store-user-info input
{
    display: block;    
    float: left;
    height: 22px;
    margin-bottom: 10px;
    margin-right: 35px;
    width: 197px;
}

#parts-store-part-info
{
margin-bottom: 20px;    
}

#part-store-form-clean
{
    margin-left: 195px;
    margin-right: 20px;
        
}

#parts-store-user-info label,
#parts-store-part-info label
{
    float: left;
    display: block;
    font-size: 1.1dem;
    margin-right: 8px;
    width: 90px;
}

label#part-store-part-comment-label
{
    clear: both;
    display: block;
    float: none;
    margin-bottom: 10px;
}



#parts-store-part-comment
{
    clear: both;
    height: 178px;
    width: 500px;
    
    
}


/*Parts Store ENDS*/

/*basic-form-view*/

/*basic-form-view*/


/*Contacts Form*/
#contacts-right-content
{
    float: left;
}
#contacts-localizacion-title
{
    clear: both;
}
#contacts-form form input
{
  border: 5px solid #d8d8d8;
  width: 281px;
  height: 30px;
}

#contacts-form form input, #contacts-form form textarea
{
    border: 5px solid #d8d8d8;
    margin-bottom: 10px;
  width: 281px;
 
}
#contacts-form form textarea
{
    height: 157px;
    margin-bottom: 20px;
}

#contacts-form form label
{
   display: block;
   float: left;
   font-size: 1.5em;   
   width: 100px;
  
}

#contacts-form form
{
    width: 405px;
}

#contacts-direction{
    margin-bottom: 25px;
    padding-left: 10px;
}
#contacts-form
{
   margin-left: 25px;
   float: left;
}

#contacts-map-container
{
    width: 640px;
    height: 271px;
    padding: 8px 0;
    background-color: #ddd8d2;
}

#contacts-button-container
{
    margin-left: 100px;
    height: 60px;
}

#contacts-schedule
{
    background-image: url('/sites/default/files/images/contacts/horarioContainer.png');
    float: left;
    height: 168px;
    margin-left: 20px;
    padding-left: 10px;
    width: 205px;
    
}

#contacts-schedule h2
{
    color: white;
    font-weight: bold;
}

a.form-button
{
    background-image: url('/sites/default/files/images/common/redButton.png');
    color: white;
    display: block;
    float: left;
    font-weight: bold;
    height: 19px;
    padding: 8px 0;
    text-align: center;
    width: 145px;
    
    
}
#contacts-map
{
    width: 624px;
    height: 271px;
    margin-left: auto;
    margin-right: auto;
}
/*Contacts Form ENDS*/



/*Useful Classes*/

.bold
{
    font-weight: bold;
}

.no-margin
{
    margin: 0;
}


.required-text
{
    color: red;
}

#contacts-info
{
    float: left;
    margin-right: 20px;
}


.brand-logo
{
    background-image: url('/sites/default/files/images/common/brandsSprite.png');
    width: 77px;
    height: 75px;
    display: block;
}


.red-corner-button
{
    display: block;
     background-image: url("/sites/default/files/images/common/redCornerButton.png");
     
}

.red-corner-button-with-arrow
{
    display: block;
     background-image: url("/sites/default/files/images/common/redCornerButtonWithArrow.png");
     
}

.border-less
{
    border: none;
}

/*Useful Classes ENDS*/

#main
{
    position: relative;
}

#content-header
{
    clear: both;
}

input, textarea
{
    color: #333333;
    font-size: 1.1em;
    padding-left: 5px;
}

a
{
    cursor: pointer;
}

.hidden
{
    display: none;
}

.visible
{
    display: block;
}


#left-side, #right-side
{
    float: left;
}


.centralize-text
{
    text-align: center;
}


.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

